html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h4 {
  height: 65%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
}

input {
    left: 40%;
    position: absolute;
    top: 50%;
    width: 15%;
}

button {
    padding: 0px;
    left: 56%;
    position: absolute;
    top: 50%;
    height: 5%;
    width: 5%;
}