header {
    position: absolute;
    top: 8%;
}

h4 {
    display: inline-block;
}

.header .btn-secondary{
    position: relative;
    left: 67%;
}

.row .btn-secondary{
    position: relative;
    left: 67%;
}

p {
    position: relative;
    top: 15px;
}