<div class="bigger-container">
  <div class="big-container">
    <h2>Confirmed Appointment!</h2>
    <p>Gurney Halleck will assist the customer in store</p><br>
    <h3>Details</h3>
    <ul class="list-group list-group-horizontal mx-auto justify-content-center">
      <li class="list-group-item"><b>Store</b>: {{ location }}</li>
      <li class="list-group-item"><b>Date</b>: {{ date }}</li>
      <li class="list-group-item"><b>Time</b>: {{ time }}</li>
    </ul>
    <h3>Customer Contact Information</h3>
    <div class="input-group mb-3 col-md-4 mx-auto justify-content-center">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default">
      <button type="button" (click)="submit()" class="btn btn-success lil">Send Confirmation</button>
    </div>
    <p *ngIf="submitted==true; else notYet">
      <ngb-alert type="success" [dismissible]="false">
        <strong>Success!</strong> The user was sent a confirmation email!
      </ngb-alert>
    </p>
  </div>